{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Un trabajo artesanal</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundada en 2021 con la intención de crear un espacio donde el café es el único protagonista, empujando así la ola de café de especialidad en la ciudad.</p>
            <p>Gracias a Bit Coffe el café de especialidad empieza a tener un espacio en prensa y se va abriendo paso en el sector de la restauración.</p>
            <p>
              En este punto Bit Coffee cuenta con un equipo de más de 20 personas. Un equipo joven, formado en casa, con mucho talento y entusiasmado por el mundo del café. 
              Con roles que no habríamos imaginado años atrás, como un responsable de cuentas y logística o incluso un director de arte.
              Seguimos viajando siempre que podemos, ya no solo a origen sino también a países consumidores,para participar en ferias y catas. 
              Gracias a ello hemos podido dar a conocer nuestro proyecto y hacer muy buenas alianzas en el sector.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}