{% extends 'core/base.html' %}

{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-sm-12 col-lg-3 p-5">
                        <div class="card w-100 h-100">
                        {% if not request.user.is_authenticated %}
                           <img src="{{ product.image.url }}" class="card-img-top w-100" alt="{{ porduct.name }}">
                           <div class="card-body">
                                <hgroup>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </hgroup>
                                <p class="card-text">{{ product.excerpt }}</p>
                                <p class="card-text">{{ product.price }}€</p>
                           </div>
                        {% else %}
                        <img src="{{ product.image.url }}" class="card-img-top w-100" alt="{{ porduct.name }}">
                           <div class="card-body">
                                <hgroup>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </hgroup>
                                <p class="card-text">{{ product.excerpt }}</p>
                                <p class="card-text">{{ product.price }}€</p>
                           </div>
                           <div class="card-footer">
                               <a href="" class="btn btn-primary btn-md w-100" style="font-size: 0.8rem;">Añadir al carrito</a>
                           </div>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}